<div class='top-color'>
  <div class='top-wrapper'>
    <div class='top-inner-text'>
      <h1>POSITIVE SERVICE</h1>
    </div>
    <div class='top-under-text'>
      <p>あなただけのAIがあたなの悩みをポジティブに解決します</p>
    </div>
  </div>
  <div class="container">
    <div chass="row">
      <h2 style="color: black; font-family: 'Dela Gothic One', sans-serif; color: #28a44a;">このアプリでできること</h2>
      <p style="color: black;">このアプリはあなたの悩みや普段イライラしていること、気になっていることなどをあなた好みのAIを作ってどんな相談もポジティブにそして簡単な解決策を導いてくれます。</p>
    </div>
    <div class="row" style=" background-color: #b3d9b3;">
      <div class="col-md-3 text-center">
        <i class="fa fa-smile-o fa-3x" aria-hidden="true" style="color: #28a44a;"></i>
          <h5>ポジティブ変換</h5>
          <p style="color: #ebf5f5; text-align: left;">
            どんな悩みも明るくポジティブに変換します。あなたのイライラ嫉妬も愚痴でもどんなことでも相談してください。
          </p>
      </div>
      <div class="col-md-6 col-lg-3 text-center">
        <i class="fa fa-user-o fa-3x mb-3" aria-hidden="true" style="color: #28a745;"></i>
          <h5>カスタマイズ可能</h5>
          <p style="color: #ebf5f5; text-align: left;">
            AIのキャラクターを自分好みにカスタマイズできます。お好きなキャラクターをカスタマイズして、個性的な回答を。
            あなただけの相棒を作ってポジティブに毎日を過ごしましょう。
          </p>
      </div>
      <div class="col-md-6 col-lg-3 text-center">
        <i class="fa fa-twitter fa-3x mb-3" aria-hidden="true" style="color: #28a745;"></i>
          <h5>X（旧Twitter）でシェア</h5>
          <p>AIの回答をXでシェアし、友達と共有しましょう。</p>
      </div>
      <div class="col-md-6 col-lg-3 text-center">
          <i class="fa fa-comments-o fa-3x mb-3" aria-hidden="true" style="color: #28a745;"></i>
          <h5>コメント可能</h5>
          <p>他のユーザーの相談に対してコメントができます。</p>
      </div>
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </div>
  </div>

  <div class= "container">
    <div class= "row">
      <div class= "col-md-6">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag("character_page.png", class: "d-block w-100", alt: "...") %>      
            </div>
          </div>

          <div class="carousel-item ">
            <%= image_tag("consultation.png", class: "d-block w-100", alt: "...") %>      
          </div>

          <div class="carousel-item ">
            <%= image_tag("comment.png", class: "d-block w-100", alt: "...") %>      
          </div>
        </div>
      </div> 

      <div class="col-md-6" style = "background-color: rgba(207, 212, 211, 0.626);">
        <h5 style="color: black; font-family: 'Dela Gothic One', sans-serif; color: #28a44a;">
          自分だけのAIを作ってみよう
        </h5>
        <p style="color: black;">
          いろんな性格や話し方を指定しあなたのお気に入りのAIを作ってみよう!!
        </p>
        <h5 style="color: black; font-family: 'Dela Gothic One', sans-serif; color: #28a44a;">
          X（旧Twitter）でシェアしよう!!
        </h5>
        <p style="color: black;">
          AIが伝えてくれるポジティブな名言や助言をあなたが気に入った言葉をXでシェアしよう!!
        </p>
        <h5 style="color: black; font-family: 'Dela Gothic One', sans-serif; color: #28a44a;">
          他のユーザーの相談にコメントしてみよう！！
        </h5>
        <p style="color: black;">
          あなた以外の人の相談にコメントしてみんなでポジティブになりましょう！！
        </p>
      </div>
    </div>
  </div>
  <div class="row-md-4">
    <h5>アカウントをお持ちでない方はこちらから</h5>
    <%= link_to "新規登録",new_user_path , class: "btn btn-primary btn-lg" %>
    <h5>すでにアカウントをお持ちの方はこちらから</h5>
    <%= link_to "ログイン", login_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
