<div class="m-2 border p-3">
  <h3>あなただけのAIを作ってみましょう！！</h3>
  <%= form_with(model: Consultation.new, url: consultations_path, method: "post", class: "row g-3") do |f| %>

    <div class="col-md-6">
      <%= f.label :name, "AIの名前", class: "form-label" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="col-md-6">
      <%= f.label :personality, "性格", class: "form-label" %>
      <%= f.select :personality, Character.personalities.map { |key, _| [Character.human_attribute_name("personality.#{key}"), key] }, {}, class: "form-select" %>
    </div>

    <div class="col-md-6">
      <%= f.label :speak_style, "話し方", class: "form-label" %>
      <%= f.select :speak_style, Character.speak_styles.map { |key, _| [Character.human_attribute_name("speak_style.#{key}"), key] }, {}, class: "form-select" %>
    </div>

    <div class="col-md-6">
      <%= f.label :business, "職業", class: "form-label" %>
      <%= f.select :business, Character.businesses.map { |key, _| [Character.human_attribute_name("business.#{key}"), key] }, {}, class: "form-select" %>
    </div>

    <div class="col-md-6">
      <%= f.label :given_name, "一人称", class: "form-label" %>
      <%= f.select :given_name, Character.given_names.map { |key, _| [Character.human_attribute_name("given_name.#{key}"), key] }, {}, class: "form-select" %>
    </div>

    <div class="col-md-6">
      <%= f.label :age, "年齢", class: "form-label" %>
      <%= f.select :age, Character.ages.map { |key, _| [Character.human_attribute_name("age.#{key}"), key] }, {}, class: "form-select" %>
    </div>

    <div class="col-md-6">
      <%= f.label :gender, "性別", class: "form-label" %>
      <%= f.select :gender, Character.genders.map { |key, _| [Character.human_attribute_name("gender.#{key}"), key] }, {}, class: "form-select" %>
    </div>

    <div class="col-12">
      <%= f.label :title, "質問", class: "form-label" %>
      <%= f.text_area :title, placeholder: "AIに悩みを打ち明けてみよう!!", class: "form-control" %>
    </div>

    <div class="col-6">
      <%= f.label :public_status, "公開にすると全てのユーザーに公開されます", class: "form-label" %>
      <%= f.select :public_status, Consultation.public_statuses.keys.map { |status| [status, status] }, {}, class: "form-select", id: 'consultation-public-status' %>
    </div>

    <div class="col-12">
      <%= f.submit "質問する", class: "btn btn-primary" %>
    </div>

  <% end %>
</div>
