<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">AIの回答</h5>
          <p class="card-text"><%= @consultation.message %></p>
        </div>
      </div>

      <% if logged_in? %>
        <div class="mt-4">
          <%= form_with(model: [ @consultation, Comment.new ]) do |form| %>
            <div class="form-group">
              <%= form.text_area :content, rows: 4, class: 'form-control', placeholder: 'コメントを入力...' %>
            </div>
            <%= form.submit 'コメント投稿', class: 'btn btn-primary mt-2' %>
          <% end %>
        </div>
      <% end %>

      <div class="mt-4">
        <% @consultation.comments.each do |comment| %>
          <div class="card mb-2">
            <div class="card-body">
              <p class="card-text"><strong><%= comment.user.name %>:</strong> <%= comment.content %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-4">
      <% if logged_in? && current_user == @consultation.user %>
        <% extract_quotes_from_message(@consultation.message).each do |quote| %>
          <%= link_to "https://twitter.com/share?url=#{request.base_url}&text=AI「#{CGI.escape(quote)}」&hashtags=ポジティブは世界を救う！！", target: '_blank', class: 'btn btn-info btn-block mt-2' do %>
            「<%= truncate(quote, length: 25) %>」をTwitterでシェアする
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container mt-4">
  <%= link_to 'ホームに戻る', root_path, class: 'btn btn-secondary' %>
</div>
