<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <%= search_form_for search, url: search_path, remote: true, html: { 
          class: 'd-flex flex-wrap align-items-center',
          data: {
            controller: "search",
            action: "input->search#submit",
            turbo_frame: "search-results"
          }
        } do |f| %>
        <!-- 上部の行 -->
        <div class="row mb-2 col-12">
          <div class="col">
            <%= f.label :title_cont, "質問内容", class: "form-label fw-bold",for: "search_title_cont" %>
            <%= f.search_field :title_cont, class: "form-control", placeholder: "質問内容を検索", id: "search_title_cont" %>
          </div>
          <div class="col">
            <%= f.label :message_cont, "回答内容", class: "form-label fw-bold",for: "search_message_cont" %>
            <%= f.search_field :message_cont, class: "form-control", placeholder: "回答内容を検索", id: "search_message_cont" %>
          </div>
          <div class="col">
            <%= f.label :created_at_gteq, "質問日時", class: "form-label fw-bold" , for: "search_created_ad_gteq_cont" %>
            <%= f.date_field :created_at_gteq, class: "form-control", id: "search_created_ad_gteq_cont" %>
          </div>
        </div>

        <!-- 下部の行 -->
        <div class="row mb-10">
          <div class="col-md-4">
            <%= f.label :character_name_cont, "キャラクター名", class: "form-label fw-bold", for: "search_character_name_cont"%>
            <%= f.search_field :character_name_cont, class: "form-control", placeholder: "キャラクター名を検索", id: "search_character_name_cont" %>
          </div>
          <div class="col">
            <%= f.label :character_personality_eq, "性格", class: "form-label fw-bold", for: "search_character_personality_eq" %>
            <%= f.select :character_personality_eq, Character.personalities.map { |key, _| [Character.human_attribute_name("personality.#{key}"), key] }.prepend(["選択する", nil]), {}, class: "form-select", id:  "search_character_personality_eq" %>
          </div>
          <div class="col">
            <%= f.label :character_speak_type_eq, "話し方" , class: "form-label fw-bold", for: "search_character_speak_type_eq"%>
            <%= f.select :character_speak_type_eq, Character.speak_types.map { |key, _| [Character.human_attribute_name("speak_type.#{key}"), key] }.prepend(["選択する", nil]), {}, class: "form-select", id: "search_character_speak_type_eq" %>
          </div>
          <div class="col">
            <%= f.label :character_business_eq, "職業", class: "form-label fw-bold", for: "search_character_business_eq" %>
            <%= f.select :character_business_eq, Character.businesses.map { |key, _| [Character.human_attribute_name("business.#{key}"), key] }.prepend(["選択する", nil]), {}, class: "form-select", id: "search_character_business_eq" %>
          </div>
          <div class="col">
            <%= f.label :character_given_name_eq, "一人称", class: "form-label fw-bold" , for: "search_character_given_name_eq"%>
            <%= f.select :character_given_name_eq, Character.given_names.map { |key, _| [Character.human_attribute_name("given_name.#{key}"), key] }.prepend(["選択する", nil]), {}, class: "form-select" , id: "search_character_given_name_eq"%>
          </div>
          <div class="col">
            <%= f.label :character_age_eq, "年齢", class: "form-label fw-bold", for: "search_character_age_eq" %>
            <%= f.select :character_age_eq, Character.ages.map { |key, _| [Character.human_attribute_name("age.#{key}"), key] }.prepend(["選択する", nil]), {}, class: "form-select" , id:  "search_character_age_eq"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
