<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png", alt: "logo", class: "logo" %>
    <% end %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'ログイン', login_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to 'プロフィール', '#', class: 'nav-link' %>
        </li>
        <li class="nav-item dropdown">
          <%= link_to 'マイページ', '#', { class: 'nav-link dropdown-toggle', id: 'navbarDropdown', role: 'button', data: { bs_toggle: 'dropdown' }, aria: { expanded: 'false' } } %>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="mypage_path">マイページ</a></li>
            <li><hr class="dropdown-divider"></li>
            <%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
