<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo.png", alt: "logo", class: "logo" %>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-4 mb-lg-0">
          <li class="nav-item">
            <%= link_to '相談する', new_consultation_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'マイページ', mypage_path(current_user), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete, turbo_confirm: 'ログアウトしますか?' }, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
