<!DOCTYPE html>
<html>
  <head>
    <title>PositiveService</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if logged_in? %>
      <%= render 'layouts/login_header' %>
    <% else %>
      <%= render 'layouts/header' %>
    <% end %>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= bootstrap_class_for(message_type) %>" role="alert">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>

</html>
